$font: SuisseIntl-Regular;
$font-color-dark: #0F1011;
$font-color-light: #85878A;
$font-color-white: #FFFFFF;
$screen-laptop: 1366px;
$screen-square: 1024px;
$screen-tablet: 768px;
$screen-mobile: 575px;